
{% extends "base.html" %}
{% block content %}

<!-- List of bookmark categories goes here-->
<section class="col-md-5 category-area">
	<h1>Your bookmark categories</h1>
	<div  class="new-category" >

		<a href="{{url_for('newCategory')}}">Add new Category</a>
	</div>
	<div class="categories">

	{% for c in category_list %}
		<a href="{{url_for('showResources', category_id = c.id) }}" > {{ c.name}} </a> &nbsp; &nbsp;
		{% if c.user_id == user_id %}
		<a href="{{url_for('editCategory', category_id = c.id) }}"> Edit </a> &nbsp; &nbsp;
		<a href="{{url_for('deleteCategory', category_id = c.id) }}"> Delete </a>
		{% endif %}
		<br>
		{{c.description}}
		
		<hr>
	{% endfor %}

		</div>


</section>

<!-- Flash Messages go here -->
<section class="col-md-7">
	<div class="flass-message">
		<!--MESSAGE FLASHING EXAMPLE -->
		{% with messages = get_flashed_messages() %}
		{% if messages %}

		<ul>
		{% for message in messages %}
		  <li><strong>{{message}}</strong></li>
		  {% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
	</div>

	<section class="resources">
		{% block contentres %}
		{% endblock %}
	</section>
</section>


{% endblock %}

