{% extends "bookmark_categories_base.html" %}
{% block contentres %}

	<section class="resources">

	<h2><a href="{{url_for('newResource', category_id=category_id)}}">Add new Resource</a></strong></h2>


	{% for r in resources_list %}
		<a href="{{r.url}}" target="_blank">{{r.name}}</a> &nbsp; &nbsp;

		<img src="{{r.screenshot}}" width="100px;" height="100px;"> <br/>
		{% if r.user_id == user_id %}

		<a href="{{url_for('editResource', category_id=category_id, resource_id = r.id) }}"> Edit </a> &nbsp; &nbsp;

		<a href="{{url_for('deleteResource', category_id=category_id, resource_id = r.id) }}"> Delete </a>
		{% endif %}

		<br>
		<b> Notes:&nbsp;&nbsp;</b>{{r.notes}} &nbsp;&nbsp;

		{% if r.user_id == user_id %}

		<a href="{{url_for('editNotes', category_id=category_id, resource_id = r.id) }}"> Edit </a> &nbsp; &nbsp;
		{% endif %}

		<hr>
	{% endfor %}

	{% endblock %}
	</section>


