<!--<!DOCTYPE HTML>
<html>
	<head>

	</head>
<body>
!-->
{% extends "base.html" %}
{% block content %}

<!-- Login Log Out
<div id="login"> <a href="{{url_for('showLogin')}}"> Login </a></div>

<div id="logout" style="display:none;"> <a href="{{url_for('gdisconnect')}}"> Logout </a></div>

{% if user_id %}
<div class="userinfo"> 
Hi, {{login_session['username']}}
</div>
<script type="text/javascript">
	document.getElementById('login').style.display="none";
	document.getElementById('logout').style.display="block";
</script>

{% endif %}
-->

<h1>Bookmarks in Category {{category_id}}</h1>
<!--MESSAGE FLASHING EXAMPLE -->
{% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
{% for message in messages %}
  <li><strong>{{message}}</strong></li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}
<br>
<br>

<div class="row">
		<strong><a href="{{url_for('showCategories')}}">View all Categories</a></strong><br/><br/>
	
	<div>
		<strong><a href="{{url_for('newResource', category_id=category_id)}}">Add new Resource</a></strong>
		<br/>
		<br/>
		<br/>
	</div>

	<!--All categories on the left -->
	<div class="categories col-xs-12" >

	{% for c in category_list %}
		<a href="{{url_for('showResources', category_id = c.id) }}" > {{ c.name}} </a> &nbsp; &nbsp;
		{% if c.user_id == user_id %}
		<a href="{{url_for('editCategory', category_id = c.id) }}"> Edit </a> &nbsp; &nbsp;
		<a href="{{url_for('deleteCategory', category_id = c.id) }}"> Delete </a>
		{% endif %}
		<br>
		{{c.description}}
		<br>
		<br>
		<hr>
	{% endfor %}

	</div>
	<div class="resources col-xs-12 col-sm-8 col-md-9" >
	{% for r in resources_list %}
		<a href="{{r.url}}" target="_blank">{{r.name}}</a> &nbsp; &nbsp;

		<img src="{{r.screenshot}}" width="100px;" height="100px;"> <br/>
		{% if r.user_id == user_id %}

		<a href="{{url_for('editResource', category_id=category_id, resource_id = r.id) }}"> Edit </a> &nbsp; &nbsp;

		<a href="{{url_for('deleteResource', category_id=category_id, resource_id = r.id) }}"> Delete </a>
		{% endif %}

		<br>
		<b> Notes:&nbsp;&nbsp;</b>{{r.notes}} &nbsp;&nbsp;

		{% if r.user_id == user_id %}

		<a href="{{url_for('editNotes', category_id=category_id, resource_id = r.id) }}"> Edit </a> &nbsp; &nbsp;
		{% endif %}

		<hr>
	{% endfor %}

	{% endblock %}
	</div>

</div>
</body>
